.About {
    display: flex;
    align-items: center;
    justify-content: center;
}

.About h1 {
    font-size: 3rem;
}

.About h2 {
    color:springgreen;
}

.About .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:relative; */
}

.About .content {
    display: flex;
    flex-direction: column;
    width:45%;
    padding-top: 30px;
    margin-bottom:100px;
}

.experience p {
    margin: 0;
}

.About .headshot {
    max-width:33%;
    height:100%;
    padding-top:30px;
    /* position: absolute; */
}

.About .headshot img{
    width: 100%;
}

@media (max-width: 992px) {
    .About .container {
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .About .content {
        width: 90%;
        align-items: center;
    }

    .About .headshot {
        max-width: 60%;
    }

    .stack {
        width:80%;
        font-size: .7rem;
    }

    .stack img{
        max-height: 20px;
    }
}