.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About h1 {
    font-size: 7rem;
}

.About h2 {
    color:springgreen;
}

.About .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:relative; */
}

.About .content {
    display: flex;
    flex-direction: column;
    width:45%;
    padding-top: 30px;
}

.experience p {
    margin: 0;
}

.About .headshot {
    max-width:33%;
    height:100%;
    padding-top:30px;
    /* position: absolute; */
}

.About .headshot img{
    width: 100%;
}

.spotify-playlist {
    text-align: center;
}

.spotify {
    margin:5px;
}

.spotify-cards {
    display: flex;
}

.DGMC a{
    color: #FFFCEA;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
}

.DGMC a:hover {
    color: transparent;
    transition: 500ms ease;
    cursor: pointer;
}

@media (max-width: 992px) {
    .About .container {
        flex-direction: column;
        align-items: center;
        width:100%;
    } 

    .About h1 {
        font-size: 5rem;
    }

    .About .content {
        width: 90%;
        align-items: center;
    }

    .About .headshot {
        max-width: 60%;
    }

    .stack {
        width:80%;
        font-size: .7rem;
    }

    .stack img{
        max-height: 20px;
    }

    .spotify-cards {
        flex-direction: column;
    }
}