.Navbar {
 margin: 0px;
 height:9vh;
 display:flex;
 flex-direction: row;
 padding-top:20px;
}

.page-title{
    font-size: 2vw;
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    padding-left: 10%;
}

.left img {
    max-height: 100%;
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding-right: 10%;
}

.menuItem {
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    margin-right:10px;
}

.menuItem:hover {
    border-bottom: 1px solid;
}
