.Navbar {
 margin: 0px;
 height:9vh;
 display:flex;
 flex-direction: row;
 padding-top:20px;
 padding-bottom:10px;
 backdrop-filter: blur(6px);
 position: fixed;
 width:100%;
 border-bottom: #FFFCEA 1px solid;
}

.page-title{
    font-size: 2vw;
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    padding-left: 10%;
}

.logo {
    height: 9vh;
}

.logo img {
    max-height: 100%;
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding-right: 10%;
}

.menuItem {
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    margin-right:10px;
}

.navLink {
    color:#FFFCEA;
    text-decoration: none;
    font-weight:400;
}

.menuItem:hover {
    border-bottom: 1px solid;
}

/* position: absolute;
top: 0;
left: -28px;
bottom: 0;
right: -28px;
background-color: rgba(19,19,19,.15);
-webkit-backdrop-filter: blur(6px);
backdrop-filter: blur(6px);
opacity: 0;
z-index: -1; */
