.Card {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width:100%;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 50px;
}

.Card h2 {
    color: #FFFCEA;
    margin:0;
}

.Card .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card img {
    max-width: 400px;
    border-radius: 4%;
}

.Card .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card button {
    background-color: springgreen;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
}

@media (max-width:992px) {
    .Card {
        flex-direction: column;
        align-items: center;
        max-width:80%;
    }

    .Card h2 {
        margin-top:10px;
    }
}