.card-container {
    width:100%;
}

.card-container .desktop {
    display:flex;
    justify-content: center;
}

.Card {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width:100%;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 50px;
}

.Card h2 {
    color: #FFFCEA;
    margin:0;
}

.Card .image {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card img {
    width: 400px;
    border-radius: 20px;
    max-width:200%;
}

.Card .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card button {
    background-color: springgreen;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
}

.Card button:hover {
    font-weight: bold;
    font-size: 1rem;
}

.mobile {
    display: none;
}

.Card .description {
    text-align: center;
}

@media (max-width:992px) {
    .Card {
        flex-direction: column;
        align-items: center;
    }

    .Card .content {
        width:100%;
    }

    .Card h2 {
        margin-top:10px;
    }

    .card-container .desktop {
        display: none;
    }

    .Card img {
        max-width: 100%;
    }

    .mobile {
        display:block;
    }

}